.form-container {
  background-color: white;
  /* display: grid; */
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 2rem;
  height: 230px;
}
.addBooks-form {
  grid-gap: 10px;
  display: grid;
  justify-content: space-between;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
}
.addBooks-form input {
  width: 350px;
  height: 30px;
}
