.checkout-main {
  margin: 100px 50px;
}
.checkout-box {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 94%;
  margin: 30px;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 1px 15px lightgrey;
}
.checkout-box tr {
  height: 70px;
}
.checkout-box td,
.checkout-box th {
  padding: 8px;
  margin: 10px;
}

.checkout-box tr:hover {
}
.checkout-box tr:last-child {
  border-top: 1px solid lightgrey;
}
.checkout-box th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: #878787;
  border-bottom: 1px solid lightgrey;
}

.checkout-btn {
  border: none;
  background-color: #6946f4;
  padding: 10px 20px;
  font-size: 25px;
  color: white;
  border-radius: 8px;
  float: right;
  margin-right: 50px;
}

.checkout-title {
  margin-left: 30px;
}

@media (max-width: 860px) {
  .checkout-box {
    width: 115%;
    margin: 12px 0px 0px -30px;
  }
  .checkout-box th h4 {
    font-size: 20px;
  }
  .checkout-box td h4 {
    font-size: 18px;
  }
  .checkout-btn {
    width: 111px;
    margin-right: -30px;
    font-size: 15px;
    margin-top: 20px;
  }
  .checkout-title {
    margin-left: -30px;
  }
}
