.book-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 30px;
  margin: 45px;
}
/* .search-box {
  grid-column: 1/-1;
  justify-self: center;
  align-self: center;
  background-color: slateblue;
  padding: 5rem;
} */
.loading-icon {
  display: block;
  margin: 100px auto;
  height: 20vmin;
  pointer-events: none;
}

/* form */
.example {
  margin: 80px auto 100px auto;
}
form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid #e8e2ff;
  float: left;
  width: 80%;
  height: 3.3rem;
  background: #f1f1f1;
}
form.example input[type="text"]:focus {
  outline: none;
}
form.example button {
  float: left;
  width: 20%;
  height: 3.3rem;
  padding: 10px;
  background: #6946f4;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #563ac7;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
@media (max-width: 860px) {
  .book-container {
    grid-template-columns: 450px;
    justify-items: center;
    justify-content: center;
  }
  .example {
    width: 80vmin;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .loading-icon {
    animation: loading-icon infinite 0.5s linear;
  }
}
@keyframes loading-icon {
  form {
    transfrom: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
