.login-form {
  width: 500px;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding: 10px 30px;
  border-radius: 3px;
  background-color: #ffffff5e;
  font-size: 25px;
}
.logIn-signIn {
  font-size: 25px;
}
.main-input {
  width: 440px;
  margin: 20px auto;
  display: block;
  border-bottom: 1px solid lightgrey;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: #ffffff5e;
  outline: none;
}
.submit-input {
  width: 438px;
  margin: 10px auto;
  display: block;
  background-color: #6946f4;
  color: white;
  border: none;
  padding: 7px;
}
.forget-password {
  color: #6946f4;
  position: relative;
  left: 57px;
}
.create-account {
  color: #6946f4;
}
.have-account {
  text-align: center;
  display: block;
  margin-top: 10px;
  font-size: 13px;
  font-weight: 500;
}
.remember-forget-password {
  margin-top: 15px;
}
a:hover {
  text-decoration: none;
  color: #6946f4;
}
input[type="checkbox"] {
  width: 24px;
  height: 20px;
}
/* side line */

.this:after,
.this:before {
  content: "\00a0\00a0\00a0\00a0\00a0";
  text-decoration: line-through;
  margin: auto 0.5em;
}
.this {
  position: relative;
  left: 46.5%;
  transform: translateX(-50%);
}
.social-main {
  display: grid;
  grid-template-columns: repeat(2, 350px);
  justify-content: center;
}
.loginWith-social {
  padding: 10px 20px;
  cursor: pointer;
  margin: auto;
  background-color: #ffffff80;
  border: 1px solid black;
  border-radius: 5px;
}
.loginWith-social:hover {
  background-color: white;
}
.loginWith-social img {
  width: 60px;
  margin-right: 20px;
}
.loginWith-social h5 {
  display: inline-block;
  position: relative;
  top: 3px;
}

@media (max-width: 860px) {
  .social-main {
    grid-template-columns: repeat(1, 350px);
  }
  .google {
    width: 319px;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 78px;
  }
  .this {
    left: 40%;
  }
  .login-form {
    width: 440px;
    font-size: 20px;
  }
  .main-input {
    width: 380px;
  }
  .submit-input {
    width: 380px;
  }
}
